{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>OMG</title>
</head>


<body class="">

<header id="header" class="alt">
    <div class="inner">
        <h1>TEAM_OMG</h1>
        <p>결과페이지</p>
    </div>
</header>
    <section id="intro" class="main">
        <h2>생성된이미지</h2>
        <img src="{% static 'img/cut/image_0.jpg' %}">
        <img src="{% static 'img/cut/image_1.jpg' %}">
        <img src="{% static 'img/cut/image_2.jpg' %}">
        <img src="{% static 'img/cut/image_3.jpg' %}">
        <img src="{% static 'img/cut/image_4.jpg' %}">
        <img src="{% static 'img/cut/image_5.jpg' %}">
        <img src="{% static 'img/cut/image_6.jpg' %}">
        <img src="{% static 'img/cut/image_7.jpg' %}">
        <img src="{% static 'img/cut/image_8.jpg' %}">
        <img src="{% static 'img/cut/image_9.jpg' %}">
        <img src="{% static 'img/cut/image_10.jpg' %}">
        <img src="{% static 'img/cut/image_11.jpg' %}">
        <img src="{% static 'img/cut/image_12.jpg' %}">
        <img src="{% static 'img/cut/image_13.jpg' %}">
    </section>
    <section id="intro" class="main">
        <h2>상관계수결과</h2>
        <img src="{% static 'img/cor_image.jpg' %}">        
    </section>

    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">© TEAM_OMG CJY KSH LYT YJH</p>
    </footer>


</body>